n8n/sheets > panel.idemab.com.json
{
    "nodes": [
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1SISJlMo40LnZ8DGux2nlnbnS52T_1ABg8cmUQoj8qHg",
                    "mode": "list",
                    "cachedResultName": "IDEMAB - Alumnos (activos/inactivos)",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SISJlMo40LnZ8DGux2nlnbnS52T_1ABg8cmUQoj8qHg/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "panel.idemab.com",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SISJlMo40LnZ8DGux2nlnbnS52T_1ABg8cmUQoj8qHg/edit#gid=0"
                },
                "options": {}
            },
            "name": "Read Student Status",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 3,
            "position": [
                -160,
                -64
            ],
            "id": "2711e49d-9d04-4a4d-b726-07fba1a2c674",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "LPf4qZBpPvUSzo8f",
                    "name": "diseno4.impulsomarketing@gmail.com"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const users = {};\nconst items = $input.all();\n\n// Helper to find key fuzzily\nfunction findKey(obj, target) {\n  if (!obj) return null;\n  const keys = Object.keys(obj);\n  return keys.find(k => k.trim().toLowerCase() === target.toLowerCase());\n}\n\nfor (const item of items) {\n  // Find robust keys\n  const mailKey = findKey(item.json, 'Correo') || findKey(item.json, 'Email');\n  const statusKey = findKey(item.json, 'Status') || findKey(item.json, 'Estatus');\n  const roleKey = findKey(item.json, 'Rol') || findKey(item.json, 'Role');\n\n  if (!mailKey) continue; // No email column? Skip.\n\n  const email = (item.json[mailKey] || '').toString().trim().toLowerCase();\n  if (!email) continue;\n\n  if (!users[email]) {\n    users[email] = {\n      json: {\n        ...item.json,\n        activeRoles: [],\n        inactiveRoles: []\n      }\n    };\n  }\n\n  // Handle keys\n  const statusRaw = statusKey ? (item.json[statusKey] || '').toString().toLowerCase() : '';\n  const roleVal = roleKey ? (item.json[roleKey] || '') : '';\n  \n  const roles = roleVal.toString().split(',').map(r => r.trim()).filter(r => r.length > 0);\n\n  // Check for 'activo' or 'active'\n  if (statusRaw.includes('activo') || statusRaw === 'active') {\n    users[email].json.activeRoles.push(...roles);\n  } else {\n    // Assume anything else with roles implies inactive or just inactive status\n    // But strictly, we only care if status explicitly says 'inactivo' or is handled as else case in original logic.\n    // Original logic: if (status === 'activo') ... else ...\n    // So we keep that behavior for compatibility:\n    users[email].json.inactiveRoles.push(...roles);\n  }\n}\n\n// Result array\nconst result = [];\nfor (const email in users) {\n  const u = users[email];\n  // Unique\n  u.json.activeRoles = [...new Set(u.json.activeRoles)];\n  u.json.inactiveRoles = [...new Set(u.json.inactiveRoles)];\n  \n  // Conflict resolution: Active wins.\n  u.json.inactiveRoles = u.json.inactiveRoles.filter(r => !u.json.activeRoles.includes(r));\n  \n  result.push(u);\n}\nreturn result;"
            },
            "name": "Group Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                60,
                -64
            ],
            "id": "node-group-data"
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 1,
            "position": [
                260,
                -64
            ],
            "id": "7c6d37e4-bc7d-40fa-af5d-4362d13d6078",
            "name": "Loop Rows"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://panel.idemab.com/wp-json/wp/v2/users",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "wordpressApi",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "search",
                            "value": "={{ ($('Loop Rows').item.json['Correo'] || '').toString().trim() }}"
                        },
                        {
                            "name": "context",
                            "value": "edit"
                        }
                    ]
                }
            },
            "name": "Find User API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                460,
                -64
            ],
            "id": "7f21aa39-4dcd-473e-91d3-98f9370e2768",
            "credentials": {
                "wordpressApi": {
                    "id": "GGX1tpDnmmmYStXF",
                    "name": "https://panel.idemab.com/"
                }
            },
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "jsCode": "const searchResults = $input.all();\nconst loopItem = $('Loop Rows').item;\nconst targetEmail = (loopItem.json['Correo'] || '').toString().trim().toLowerCase();\n\n// Normalize search results: valid users only\nconst potentialUsers = searchResults.map(i => i.json).filter(u => u && u.email);\n\n// Find exact match\nconst matchedUser = potentialUsers.find(u => u.email.toLowerCase() === targetEmail);\n\n// Return item with userFound flag\nreturn {\n  json: {\n    ...loopItem.json,\n    wpUser: matchedUser || null,\n    userFound: !!matchedUser\n  }\n};"
            },
            "name": "Filter Exact User",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                660,
                -64
            ],
            "id": "5c72d87d-2989-40f6-a5ad-508c7d7a6346"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.userFound }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "User Found?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                860,
                -64
            ],
            "id": "da85c403-User-Found-Check"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ \"https://panel.idemab.com/wp-json/wp/v2/users/\" + $json.wpUser.id + \"?context=edit\" }}",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "wordpressApi"
            },
            "name": "Get Current Roles",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1060,
                -64
            ],
            "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
            "credentials": {
                "wordpressApi": {
                    "id": "GGX1tpDnmmmYStXF",
                    "name": "https://panel.idemab.com/"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const wpUser = $input.first().json;\nconst loopItem = $('Loop Rows').item.json;\nconst activeRoles = loopItem.activeRoles || [];\n\n// SOLUCIÓN DEFINITIVA: Sobrescribir completamente\n// Ignoramos roles actuales, asignamos solo lo que dice el Sheet\nconst finalRoles = [...activeRoles];\n\nreturn {\n  json: {\n    id: wpUser.id,\n    roles: finalRoles,\n    _debug: {\n        sheet_roles: activeRoles,\n        wp_previous: wpUser.roles || [],\n        wp_new: finalRoles\n    }\n  }\n};"
            },
            "name": "Calculate Roles",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1260,
                -64
            ],
            "id": "node-calc-roles"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ \"https://panel.idemab.com/wp-json/wp/v2/users/\" + $json.id }}",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "wordpressApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { \"roles\": $json.roles } }}",
                "options": {}
            },
            "name": "Update User Roles",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1460,
                -64
            ],
            "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
            "credentials": {
                "wordpressApi": {
                    "id": "GGX1tpDnmmmYStXF",
                    "name": "https://panel.idemab.com/"
                }
            },
            "continueOnFail": true,
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "amount": 2,
                "unit": "seconds"
            },
            "name": "Wait for WP API",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                1660,
                -176
            ],
            "id": "e5f6a7b8-c9d0-1234-5678-901234567890"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                1860,
                -64
            ],
            "id": "62e178bb-d532-480e-81ee-cc84f25563d9",
            "name": "Continue Loop"
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -360,
                -64
            ],
            "id": "9bb40cff-0b36-46f9-8862-abef5b2bb50c",
            "name": "Schedule Trigger"
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Read Student Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Student Status": {
            "main": [
                [
                    {
                        "node": "Group Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Group Data": {
            "main": [
                [
                    {
                        "node": "Loop Rows",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Rows": {
            "main": [
                [
                    {
                        "node": "Find User API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Find User API": {
            "main": [
                [
                    {
                        "node": "Filter Exact User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Exact User": {
            "main": [
                [
                    {
                        "node": "User Found?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "User Found?": {
            "main": [
                [
                    {
                        "node": "Get Current Roles",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Continue Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Current Roles": {
            "main": [
                [
                    {
                        "node": "Calculate Roles",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculate Roles": {
            "main": [
                [
                    {
                        "node": "Update User Roles",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update User Roles": {
            "main": [
                [
                    {
                        "node": "Wait for WP API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait for WP API": {
            "main": [
                [
                    {
                        "node": "Continue Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Continue Loop": {
            "main": [
                [
                    {
                        "node": "Loop Rows",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "3a54f9858961d6a8de3ba4e915ac8d0e4ae80bcd3db7f786bb8f5b77301d8dd3"
    }
}